$purple: #100324;
$whitesmoke: #f5f5f5;

$pink: deeppink;
$violet: darkviolet;

$blue-martina: #12CBC4;
$mediterranean-sea: #1289A7;
$marine-blue: #0652DD;

$sunflower: #FFC312;
$radiant-yellow: #F79F1F;
$puffins-bill: #EE5A24;
$pigment-red: #EA2027;

$energos: #C4E538;
$pixelated-grass: #009432;
