<div class="avatar-wrapper mx-auto d-flex align-items-center">
  <div class="avatar m-auto d-flex align-item-center justify-content-center">
    <h2 class="text-center my-auto">K</h2>
  </div>
</div>
