<div class="card" style="width: <%= locals[:width] %>; height: <%= locals[:height] %>;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"">
  <%#= link_to object.name, list_path(object) %>
  <%= object.instance_variable_get(locals[:column]) %>
</div>
