<div class="card" style="height: <%= locals[:height] %>;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url( <%= get_image(object, locals[:local]) %> )">
</div>
<div><%= object.nombre %></div>
