<div class="card" style="height: <%= locals[:height] %>;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <%#= link_to object.name, list_path(object) %>
  <%= object %>
</div>

<%# width: <%= locals[:width]height: <%#= locals[:height] %>
