<div class="dropdown">
  <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Recently Added
  </button>
  <ul class="dropdown-menu dropdown-menu-dark">
    <li><a class="dropdown-item" href="#">Recently Added</a></li>
    <li><a class="dropdown-item" href="#">A-Z</a></li>
    <li><a class="dropdown-item" href="#">Z-A</a></li>
  </ul>
</div>
