<%# Lists %>
<div class="row my-5 px-1 gx-3">
  <p class="fs-5 my-2">My lists</p>

  <% @lists.last(5).each do |list| %>
    <div class="col-6 col-md-2">
      <%= render "shared/card", object: list, locals: { height: "180px", local: false } %>
    </div>
  <% end %>

  <% if @lists.size > 5 %>
  <div class="col-6 col-md-2">
    <%= render "shared/ghost_card", locals: { height: "180px" }%>
  </div>
  <% end %>
</div>
<%# End Lists %>

<%# Carousel Cards %>
<div class="row">
  <div class="col-12">
    <%= render "carousel_cards", objects: @movies %>
  </div>
</div>
<%# End Carousel Cards %>

<%# Movies %>
<div class="row my-5">

  <div class="col-12 col-md-4 pt-5">
    <h2 class="">Best Studio Ghibli Movies to Watch</h2>
    <p> Whether it's a whimsical adventure, heart-racing drama, or innocent romance, this animation powerhouse has something for everyone.</p>
    <button type="button" class="btn btn-light">Explore</button>
  </div>

  <div class="col-12 col-md-8 p-2">
    <div class="row g-3">

      <% @movies.first(4).each do |movie| %>
        <div class="col-6 col-md-3">
          <%= render "shared/card", object: movie, locals: { height: "270px", local: true } %>
        </div>
      <% end %>

    </div>
  </div>
</div>
<%# End Movies %>
