.avatar-wrapper {
  height: 130px;
  width: 130px;
  background: linear-gradient(to left, $pink, $violet);
  border-radius: 50%;
}

.avatar {
  height: 118px;
  width: 118px;
  background-color: $body-bg;
  border-radius: 50%;
  position: relative;

  h2 {
    font-size: 3 * $font-size-base;
  }
}
